/* Start: Tap Effect */
.clicker {
    width: 80px;
    height: 80px;
    margin-left: -40px;
    margin-top: -40px;
    background: #8342D8;
    border-radius: 100%;
    position: absolute;
    transform: scale(0);
    opacity: 1;
    -ms-filter: none;
    filter: none;
    z-index: 999;
    pointer-events: none;
}
.clicker.is-active {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    transition: opacity 400ms ease, transform 400ms ease;
    transform: scale(1);
}
.tap {
    position: relative;
}
.tap:after {
    display: inline-block;
    content: attr(data-click);
}
@media screen and (max-width: 480px) {
    .tap:after {
        content: attr(data-tap);
    }
}
#app {
    transform-style: preserve-3d;
}
/* End: Tap Effect */

* {
    /*font-family: "Lexend", sans-serif;*/
    font-family: "League Spartan", sans-serif;
}
.position-absolute {
    position: absolute!important;
}
.position-relative {
    position: relative!important;
}
.line-height-0 {
    line-height:0!important;
}
.line-height-1 {
    line-height:1em!important;
}
.w-100 {
    width:100%!important;
}
.h-100 {
    height:100%!important;
}
.league-spartan {
    font-family: "League Spartan", sans-serif;
}
.bg-color-1 {
    background-color: #220039!important;
}
.bg-color-2 {
    background: rgb(248,172,255);
    background: linear-gradient(135deg,
        rgba(96,121,236,1) 0%,
        rgba(255,239,254,1) 63%,
        #714EEC 118%);
}
.bg-color-3 {
    background-color: #8342D8!important;
}
.bg-color-4 {
    background-color:rgba(0,0,0,0);
}
.bg-color-5 {
    background-color: #5c148c!important;
}
.bg-color-6 {
    background: #B300FF;
    background: linear-gradient(90deg,
    #B300FF 0%,
    #E29EFF 100%);
}
.bg-color-7 {
    background: rgba(217, 217, 217, 0.3)!important;
}
.text-color-1 {
    color: #000000!important;
}
.text-color-2 {
    color: #5C148C!important;
}
.text-color-3 {
    color: #9900DA!important;
}
.rounded-8 {
    border-radius:8px!important;
}
.background-image-cover {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.daily-select .background-image-cover {
    opacity:0;
    transition:0.5s;
}
.daily-select.active .background-image-cover {
    opacity:1;
}
.daily-select {
    color:#ffffff;
    transition:0.5s;
}
.daily-select.active {
    color:#000000;
}
.sheet-backdrop {
    background:rgba(0,0,0,0.7);
}
.tab-link {
    background-color: #8342D8!important;
}
.tab-link.tab-link-active {
  background-color: #5C148C!important;
}
.settings-buttons .item-inner:before {
    color:#5C148C!important;
}
.md .toggle-icon {
    background: #220039;
    border: 2px solid #220039;
}
.md .toggle-icon:after {
    background: white;
}
.md .toggle input[type=checkbox]:checked+.toggle-icon:after {
    background: white;
}
.md .toggle input[type=checkbox]:checked+.toggle-icon {
    background: #8342D8;
    border-color: #8342D8;
}
.md .radio input[type=radio]~.icon-radio, .md label.item-radio input[type=radio]~* .icon-radio, .md label.item-radio input[type=radio]~.icon-radio {
    border-color: #5C148C;
}
.md .radio input[type=radio]:checked~.icon-radio, .md label.item-radio input[type=radio]:checked~* .icon-radio, .md label.item-radio input[type=radio]:checked~.icon-radio {
    border-color: #5C148C;
}
.md .radio input[type=radio]:checked~.icon-radio:after, .md label.item-radio input[type=radio]:checked~* .icon-radio:after, .md label.item-radio input[type=radio]:checked~.icon-radio:after {
    background-color: #5C148C;
}
.dialog {
    background-color: #5c148c!important;
}
.dialog-text {
    font-size:1.1em;
}
.dialog-button {
    color:white;
}
.daily-reward-day {
    background-color:#ffffff;
}
.daily-reward-day .day-label {
    color:#000000;
}
.daily-reward-day.active {
    background-color:#8342d8;
}
.daily-reward-day.active .day-label {
    color:#ffffff;
}